<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
  <!-- config.html: 공통적으로 사용되는 파일들을 추가해 주고 관리하기 위해 생성 js, css , jquery 등 여기에 추가 -->
  <meta charset="UTF-8">

  <!-- css -->
  <link th:inline="css" th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
  <link th:inline="css" th:href="@{/css/popup.css}" rel="stylesheet" type="text/css">

  <!-- js -->
  <script type="text/javascript" th:src="@{/js/popup.js}"></script>


  <!-- title -->
  <title>유월 스튜디오</title>
</head>
</html>