<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
  <header>
    <div id="header_wrap">
      <div class="header_logo">
        <a href="#">
          <img src="/img/common/firstJuneMark.png"/>
        </a>

      </div>
      <ul class="header_gnb">
        <li><a href="#">Photography</a></li>
        <li><a href="#">Film&Video</a></li>
        <li><a href="#">상세페이지 제작</a></li>
        <li><a href="#">문의하기</a></li>
      </ul>
    </div>
  </header>
</html>
