/********************** 메인 전체 화면 **********************/
#main_content_wrap{
    background-color: #122e40;
    min-height: 700px;
    width: 100%;
}



/********************** 메인화면 우측하단 버튼 **********************/

#layout_button{
    /*위치*/
    position: fixed;
    top: 85%;
    left: 90%;
    z-index: 1000;
    width: 134px;
    height: 43px;

    /*디자인*/
    cursor: pointer;
    background-color:rgb(52, 152, 219);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#layout_button:hover{
    background-color: white;
    color: rgb(52, 152, 219);
}


/********************** 레이아웃 섹션 공통 **********************/
.main_border{
    border-radius: 15px;
}
.display_flex{
    display: flex;
}
.height_100{
    height: 100%;
}
/********************** 레이아웃 섹션 A **********************/
.layout_area_ABC{
    aspect-ratio: 3 / 1;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.layout_area_ABC > div + div{
    margin-left: 10px;
}

.layout_area_A {
    width: calc(50% - 10px);
    background-color: white;
    /*flex-grow: 2;*/
}
/********************** 레이아웃 섹션 B **********************/
.layout_area_B {
    width: calc(25% - 10px);
    background-color: pink;
    /*flex-grow: 1;*/
}
/********************** 레이아웃 섹션 C **********************/
.layout_area_C {
    width: calc(25% - 10px);
    background-color: gray;
   /* flex-grow: 1;*/
}
/********************** 레이아웃 섹션 D **********************/
.layout_area_D {
    aspect-ratio: 5 / 1;
}
.area_D_style{
    margin: 0 5px 10px;
    width: calc(33.3% - 10px);
    background-color: white;
}
/********************** 레이아웃 섹션 E **********************/
.layout_area_E {
    aspect-ratio: 4 / 1;
    padding: 80px 40px 0px 40px;
}
.magazine_title{
    font-weight: 600;
    font-size: 30px;
    color: #F0F3F6;
    margin: 0 30px 30px;
}

.magazine_photos{
    margin-right: 10px;
    background-color: pink;
    height: 100%;
    width: 100%;
}
/********************** 레이아웃 섹션 F **********************/
.layout_area_F {
    aspect-ratio: 2 / 1;
    padding: 80px 10px;
    flex-wrap: wrap;
}
.f_section{
    width: calc(33.3% - 10px);
    background-color: RGB(180 163 145);
    margin: 0 5px 10px;
}