<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <!-- css -->
  <link th:inline="css" th:href="@{/css/popup.css}" rel="stylesheet" type="text/css">
</head>
<body class="modal-http-body">
<header class="modal-header">
  <span class="modal-close">X</span>
  <span id="popup-title"></span>
</header>

<!--<th:block layout:fragment="ModalContent"></th:block>-->
<th:block layout:fragment="ModalContent"></th:block>

</body>
</html>
